<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="Css/login.css">
</head>
<body>
    <header id="home">
        <nav>
            <a href="../../index.html">Home</a>
            <a href="../../index.html#Featurdproducts">Featured Products</a>
            <a href="../../index.html#ourproducts">Our Products</a>
            <a href="../../index.html#quickline" onclick="loginAnchor()">Quick Links</a>
            <span id="cart" style="align-self: right;">
            <a href="../Card/card.html" >Card: 0</a>
            </span>
        </nav>
    </header>

    <div class="main">
        <div class="container">
            <span class="login">Login</span>
            <input type="email" name="mail" id="mail" placeholder="Email address or phone number" class="input">
            <input type="password" name="pass" id="pass" placeholder="Password" class="input">
            <button class="login-btn">Log in</button>
            <a href="#">Forgoten password?</a>
            <div class="style">or</div>
            <button class="new-account">Create new Account</button>
        </div>
    </div>

    <div class="content">
        <div>Whatsapp</div>
        <div>03444444</div>
        <div>Bahadrabad</div>
    </div>
    <div class="copywright">&copy;All Rights Reserved </div>
</footer>


<script src="Js/login.js"></script>
</body>
</html>